th,
td {
  vertical-align: middle !important;
}

.new-alert {
  & > div:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
.dropdown-btn {
  min-width: 150;
}
.expand-charts {
  position: relative;
  .expand-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 0;
    outline: none;
    &:focus {
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
}
.modal-fullscreen {
  max-width: 95% !important;
}
.custom-alert {
  position: fixed !important;
  top: 80px;
  right: 0;
}
